{% if author.avatar %}
  <div class="author__avatar">
    <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}">
  </div>
{% endif %}

<div class="author__content">
  <h3 class="author__name">{{ author.name }}</h3>
  {% if author.bio %}
    <div class="author__bio">{{ author.bio }}</div>
  {% endif %}
</div>

{% if author.links %}
  <div class="author__urls-wrapper">
    <ul class="author__urls social-icons">
      {% for link in author.links %}
        <li>
          <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
            <i class="{{ link.icon }}" aria-hidden="true"></i> {{ link.label }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
